# See wiki/caddy.md

:{$CADDY_CONTAINER_PORT} {
    handle {
        reverse_proxy http://app:{$APP_CONTAINER_PORT} {
            header_up Authorization {http.request.header.Authorization}
        }
    }
}
